	<div class="signoff-container">
		<div class="signoff">
			<div class="signoff-text"><h3>Helping you to help yourself live the life you want</h3></div>
		</div>	
	</div>
	<div class="footer-container">
		<div class="footer-inner">
			<div class="footer-inner-left">
			<b>Elaine Mayhew</b>
			<div class="footer-phone">+44(0)7788250073</div>
			<div class="footer-email"><a href="mailto:elaine@elainemayhew.com">elaine@elainemayhew.com</a></div>
			<div class="footer-copyright">Copyright &copy; {$year} Elaine Mayhew</div>
			</div>
			<div class="footer-inner-right">
				<a href="https://www.anlp.org/" target="_blank"><img class="coaching-academy-logo" src="{$application_url}/templates/assets/img/ANPL-logo.png"></a>
				<a href="http://www.the-coaching-academy.com/"  target="_blank"><img class="coaching-academy-logo" src="{$application_url}/templates/assets/img/coaching-academy-logo.png"></a>
				<div class="jem-solutions">Elaine Mayhew Coaching is part of JEM Business Solutions ltd</div>
				<div class="tweets-container">{$tweet_list}</div>
			</div>
		</div>
	</div>
	</body>
</html>
