<table cellpadding="5" cellspacing="0" style="font-family:Arial, sans-serif; font-size:12px" width="100%">
    <tr style="background:#eaeaea">
		<td width="40%">Name: </td>
		<td width="60%">{name}</td>
	</tr>
    <tr style="background:white">
    	<td width="40%">Email: </td>
		<td width="60%">{email}</td>
	</tr>
    <tr style="background:#eaeaea">
        <td width="40%">Subject: </td>
		<td width="60%">{subject}</td>
	</tr>
    <tr style="background:white">
        <td width="40%">Message: </td>
    	<td width="60%">{message}</td>
	</tr>
</table>